/* Ссылки на шрифты */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

/* Основные переменные */

:root {
  --main-color: #7c4dff;
  --secondary-color: #0099ff;
  --white-color: #ffffff;
  --gray-color: #676767;
  --header-bg-color: #202542;
  --bg-color: #f6f6f6;
  --main-bg-color: #ffffff;
  --gradient: linear-gradient(
    var(--secondary-color),
    var(--main-color)
  ); /* Линейный градиент фиолетовый-бирюзовый */
}

/* Общие стили: устанавливают общие свойства для всех элементов. */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  cursor: default;
  color: rgb(0, 0, 0);
  box-shadow: none ;
}
/* Кастомный скролл */
p {
  font-size: 1.1em;
  font-weight: 450;
}
h3 {
  font-size: 1.5em;
  color: #1070E3;
}
html::-webkit-scrollbar {
  width: 0.27rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10rem;
}
/* Стилистика навбара */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 20px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
html,
body {
  background: var(--header-bg-color);
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-info {
  padding-top: 55px;
  width: 65%;
  height: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
main {
  background-image: url(../img/hexagon.svg);
  background-color: #f6f6f6;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 187%;
}
/* Стили для логотипа и названия сайта */
.logo-container {
  margin-left: 110px;
  display: flex;
  align-items: center;
}

.test-icon {
  width: 50px;
  margin-right: 10px;
}

.website-name {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.logo-container a {
  display: flex;
  align-items: center;
}
/* Стили для кнопок */
.header-icons {
  display: flex;
  margin-top: 20px;
}
.header-icons img{
  width: 46px;
  height: 46px;
}
.profile {
  margin-top: 3px;
  margin-right: 200px;
}
.profile a {
  color: var(--white-color);
  margin-left: 10px;
  margin-top: 20px;
  font-size: 18px;

}
.profile a:hover {
  color: var(--main-color);
  cursor:pointer;

}
.profile img {
  display: none;
}
.header-icons img:hover{
  cursor: pointer;
}
.theme-switcher{
  background-image: url(../img/theme-switcher.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  width: 38px;
  height: 38px;
}
.theme-switcher-drop {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #15182a;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #f6f6f6;
  
}

.theme-switcher-drop-content a:hover {background-color: #ddd;}
.theme-switcher-drop:hover .dropdown-content {display: block;}
.theme-switcher-drop:hover .theme-switcher {cursor: pointer;}
.theme-switcher button:hover{
  cursor: pointer;
}

.navbar-button:hover {
  color: var(--main-color);
  transition: color 0.3s ease;
  cursor: pointer;
}

.technology-description {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: var(--white-color);
  background-color: var(--main-bg-color);
  width: 100%;
  height: 320px;
  border: none;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.25));
}
.technology-description p {
  padding-top: 20px;
  margin-left: 66px;
}
.technology-description h3 {
  margin-top: 25px;
  margin-left: 63px;
}
.technology-description img {
  display: block;
  margin-right: 60px;
  margin-left: 160px;
  margin-top: auto;
  margin-bottom: auto;
  width: 32.5%;
}
.searching-bar {
  display: flex;
  width: 370px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: .7rem;
  border: 1.8px #2b2b2b9b solid;
  margin-top: 20px;
  margin-left: 66px;
}
/* Поле для ввода текста */
.searching-bar input{
  background-color: rgba(0, 0, 0, 0);
  width: 85%;
  padding-left: 6px;
  border: none;
  outline: 0;
  font-size: 18px;
  font-weight: 450;
  text-align: left !important;
  cursor: auto;
  
}
::-webkit-input-placeholder {
  color: #1616164A;
}

.searching-bar:focus-within {
  transition-duration: 0.2s;
  border: 1.8px #000000 solid;
}

.searching-bar:not(:focus-within) {
  transition-duration: 0.2s;
  border: 1.8px #2b2b2b9b solid;
}

/* Лупа для поиска */
.searching-bar button {
  background: url(../img/inversed-loupe.svg);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  padding: auto;
  width: 23px;
  height: 23px;
  border: none;
  color: #2b2b2b9b;
  margin: auto;
  cursor: pointer;
}
.foundation-info {
  display: flex;
  justify-content: space-between; /* Распределяет пространство между элементами */
  width: 100%;
  height: 30%;
  margin-top: 55px;
}
.foundation-item {
  color: var(--white-color);
  background-color: var(--main-bg-color);
  width: 29.4%;
  border: none;
  border-radius: 15px;
  filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.25));
}
.foundation-item p {
  font-size: .95em;
  padding: 15px;
  text-align: left;
}
.foundation-item img {
  float: left;
  width: 18%;
  padding-right: 8px;
  padding-bottom: 5px;
  margin-bottom: -10px
  
}
.content {
  display: flex;
  margin-top: 55px;
  padding: 66px;
  padding-top: 10px;
  color: var(--white-color);
  background-color: var(--main-bg-color);
  max-width: 100%;
  height: 600px;
  border: none;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  filter: drop-shadow(0px 0px 23px rgba(0, 0, 0, 0.25));
}
.content a {
  font-size: 1.05em;
  font-weight: 500;
}

.content-block {
  width: 100%;
}
.content h3 {
  margin-top: 25px;
  margin-left: -3px;
}
.content hr {
  border: 1px solid #7979799e;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: -3px;
  opacity: 35%;
}
.content li {
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
}

.content ol {

  list-style: decimal !important;
  list-style-type: decimal !important;
}
.content ol li {
  text-indent: 15px; 
}
.content ol li a {
  color: var(--main-color);
}
.content ol li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  cursor: pointer;
}

/* Стили для Footer */
footer {
  background-color: var(--header-bg-color);
  display: flex;
  padding-top: 25px;
  padding-bottom: 65px;
  width: 65%;
  margin: auto;
  font-size: 14px;
}

footer h4 {
  color: #ffffff;
}
footer p {
color: #bbbbbbd7;;
}

/* Отступы между частями flex у Footer */
.item {
  color: #bbbbbbd7;
  flex: 1 1 auto;
  margin: 0 5px;
}

/* Текст "STUDY-GUIDE" */
.footer-info h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-info hr {
  border: 1px solid #7979799e;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-inline-end: 195px;
}


/* Правая часть футера */
.about-site {
  display: block;
  width: 20%;
  text-align: left;
}

.about-site h4 {
  font-size: 17px;
  line-height: normal;
  margin-bottom: 16px;
}
.tech-info {
  padding-bottom: 30px;
}

.third-square.foundation-item p {
  text-align: justify;
  line-height: 22px;
}
.first-square.foundation-item p {
  text-align: justify;
  line-height: 22px;
}
.second-square.foundation-item p {
  text-align: justify;
  line-height: 22px;
}
