/* Ссылки на шрифты */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* Основные переменные */

:root {
  --main-color: #7c4dff;
  --secondary-color: #0099ff;
  --white-color: #ffffff;
  --bg-color: #202542;
  --gradient: linear-gradient(
    var(--secondary-color),
    var(--main-color)
  ); /* Линейный градиент фиолетовый-бирюзовый */
}

/* Общие стили: устанавливают общие свойства для всех элементов. */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Стилистика навбара: определяют внешний вид навигационного меню. */

.main-content {
  min-height: calc(100% - 100px);
  padding-bottom: 0px;
  box-sizing: border-box;
}

/* Стилизация навбара */

.guide-image {
  width: 320px;
}

/* Стилизация блока  */

.info-about-guides {
  background-image: url("../img/hexagon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 187%;
}

/* Стилизация сетки с столбцами */

.columns {
  width: 100%;
  max-width: 1250px;
  max-height: 450px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}

/* Стилизация столбцов в сетке */

.column {
  padding: 20px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: left;
}



/* Стилистика навбара */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 10px 20px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 20px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}
/* Стили для логотипа и названия сайта */
.logo-container {
  margin-left: 110px;
  display: flex;
  align-items: center;
}
.test-icon {
  width: 50px;
  margin-right: 10px; /* Добавлено для отступа между логотипом и текстом */
}
.website-name {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.logo-container a {
  display: flex;
  align-items: center;
}
/* Стили для социальных ссылок в футере */
.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}
.social-links a:hover {
  color: #7c4dff;
}
/* Стили для кнопок */
.header-button-list {
  margin-right: 110px;
  margin-top: 10px;
}
.header-button-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Добавлен отступ между кнопками */
  margin-left: 62px;
}
.header-button-list li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 21px;
  position: relative; /* Позволяет позиционировать вертикальную полосу */
  padding-left: 15px; /* Добавлен отступ слева от текста кнопки */
}
.header-button-list li a::before {
  content: "";
  position: absolute;
  top: 50%; /* Положение полосы по середине по вертикали */
  transform: translateY(-50%); /* Смещение на половину высоты элемента */
  left: 0;
  width: 4px; /* Ширина вертикальной полосы */
  height: 40px;
  background-color: transparent; /* Цвет по умолчанию */
}
.header-button-list li:nth-child(1) a::before {
  background-color: #db4130; /* Цвет для кнопки HTML */
}
.header-button-list li:nth-child(2) a::before {
  background-color: #188ddb; /* Цвет для кнопки CSS */
}
.header-button-list li:nth-child(3) a::before {
  background-color: #d3d61c; /* Цвет для кнопки JavaScript */
}
