/* Ссылки на шрифты */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

/* Основные переменные */

:root {
  --main-color: #7c4dff;
  --secondary-color: #0099ff;
  --white-color: #ffffff;
  --bg-color: #202542;
  --gradient: linear-gradient(
    var(--secondary-color),
    var(--main-color)
  ); /* Линейный градиент фиолетовый-бирюзовый */
}

/* Общие стили: устанавливают общие свойства для всех элементов. */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

main {
  background: #fff;
}
html,
body {
  background: var(--bg-color);
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Стилистика навбара: определяют внешний вид навигационного меню. */

.main-content {
  min-height: calc(100% - 100px);
  padding-bottom: 0px;
  box-sizing: border-box;
}

/* Стилизация навбара */
.guide-image {
  width: 425px;
}

/* Стилизация блока  */
.container {
  width: 80%;
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}

.info-about-guides {
  background-image: url("../img/hexagon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 187%;
}

/* Стилизация сетки с столбцами */
.horizontal-line {
  box-shadow: none;
  background-color: rgba(98, 98, 98, 0.1);
  height: 2px;
  border: none;
}

.columns {
  width: 100%;
  max-width: 1250px;
  max-height: 370px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 390px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
}

/* Стилизация столбцов в сетке */
.column {
  padding: 25px;
  font-size: 22px;
  color: black;
  text-align: left;
}

/* Стилистика навбара */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 20px 15px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 20px;
}
nav ul li:first-child {
  margin-left: 0;
}
nav ul li a {
  color: var(--white-color);
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

/* Стили для Footer */
footer {
  display: flex;
  padding-top: 25px;
  padding-bottom: 65px;
  margin-left: 250px;
  margin-right: 215px;
  color: #bbbbbbd7;
  font-size: 14px;
}

footer h4 {
  color: #ffffff;
}

/* Отступы между частями flex у Footer */
.item {
  flex: 1 1 auto;
  margin: 0 5px;
}

/* Текст "STUDY-GUIDE" */
.footer-info h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-info hr {
  border: 1px solid #7979799e;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-inline-end: 195px;
}

/* Центральная часть футера */
.footer-contact-info {
  display: flex;
}

/* Настройки отступов и изображений */
.footer-imgs {
  margin-top: 5px;
}

.footer-imgs img {
  display: block;
  width: 32px;
  margin-top: 28px;
  margin-right: 10px;
}

/* Настройки текста */
.footer-contact-info-text {
  display: block;
  line-height: 58px;
}

/* Настройки текста "Контакты" */
.footer-contact-info h4 {
  margin-left: -22px;
  font-size: 17px;
  line-height: normal;
  margin-bottom: 16px;
}

/* Текст "Беларусь Минск" */
.location {
  line-height: normal;
  margin-bottom: 10px;
}

/* Правая часть футера */
.about-site {
  display: block;
  width: 20%;
  text-align: left;
}

.about-site h4 {
  font-size: 17px;
  line-height: normal;
  margin-bottom: 16px;
}

/* Стили для логотипа и названия сайта */
.logo-container {
  margin-left: 110px;
  display: flex;
  align-items: center;
}

.test-icon {
  width: 50px;
  margin-right: 10px; 
}

.website-name {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.logo-container a {
  display: flex;
  align-items: center;
}

/* Стили для кнопок */
.header-button-list {
  margin-right: 110px;
  margin-top: 10px;
}
.header-button-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  margin-left: 62px;
}
.header-button-list li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 21px;
  position: relative; /* Позволяет позиционировать вертикальную полосу */
  padding-left: 15px; 
}
.header-button-list li a::before {
  content: "";
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  left: 0;
  width: 4px; 
  height: 40px;
  background-color: transparent; /* Цвет по умолчанию */
}
/* Цвета кнопок в шапке */
.header-button-list li:nth-child(1) a::before {
  background-color: #db4130;
}
.header-button-list li:nth-child(2) a::before {
  background-color: #188ddb; 
}
.header-button-list li:nth-child(3) a::before {
  background-color: #d3d61c; 
}

/* Кастомный скролл */

html::-webkit-scrollbar {
  width: 0.27rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10rem;
}

/* Контейнер с лого и начальным текстом */
.logo-quote {
  background: url(../img/body-bg.svg);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
  color: #fff;
  width: auto;
  padding: 12rem 10rem;
  text-align: center !important;
}

/* Лого */
.website-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

/* Начальный текст */
.main-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625;
  font-size: 2.5rem !important; /* При добавлении !important к значению стилевого свойства его важность повышается. Если переопределить значение того же свойства без !important, оно будет игнорироваться. */
}

/* Поисковая строка */
.searching-bar {
  display: flex;
  width: 550px;
  height: 57px;
  background-color: rgba(1, 1, 1, 0.325);
  border-radius: 1.6rem;
  border-width: 2px;
  border-style: inset;
  border-color:#9a9999;
  border-image: initial;
  margin: auto;
}

/* Поле для ввода текста */
.searching-bar input{
  background-color: rgba(0, 0, 0, 0);
  width: 85%;
  height: 90%;
  padding-left: 6px;
  border: none;
  margin: auto;
  outline: 0;
  color: #dddddd;
  font-size: 1.35em;
  text-align: left !important;
}

/* Лупа для поиска */
.searching-bar img {
  padding-top: 14px;
  padding-right: 18px;
  width: 27px;
  height: 27px;
  border: none;
  cursor: pointer;
}

/* Установка стилей при установке курсора в searching-bar */
.searching-bar:focus-within {
  transition-duration: 0.2s;
  border: 2px #ffffff solid;
}

/* Установка стилей при снятии курсора в searching-bar */
.searching-bar:not(:focus-within) {
  transition-duration: 0.2s;
  border-style: inset;
  border-color:#9a9999;
  border-image: initial;
}
.searching-bar input:hover {
  cursor:auto;
}

.HTML-title {
  color: #ff5757;
  font-weight: 500;
}

.CSS-title {
  color: #4ba1fe;
  font-weight: 500;
}

.JS-title {
  color: #f6ff46;
  font-weight: 500;
}

.navbar-button:hover {
  color: var(--main-color);
  transition: color 0.3s ease;
  cursor: pointer;
}

.main-content-button {
  color: white;
}

.main-button-container-HTML {
  background-color: var(--main-color);
  max-width: 200px;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 0.8rem;
  text-align: center;
  transition: background-color 0.4s;
}

.main-button-container-CSS {
  background-color: var(--main-color);
  max-width: 200px;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 0.8rem;
  text-align: center;
  transition: background-color 0.4s;
}
.main-button-container-JS {
  background-color: var(--main-color);
  max-width: 200px;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 0.8rem;
  text-align: center;
  transition: background-color 0.4s;
}

.main-button-container-HTML:hover {
  background-color: #db4025;
}
.main-button-container-CSS:hover {
  background-color: #3e9afc;
}
.main-button-container-JS:hover {
  background-color: #dbde3d;
}
.main-button-container-HTML, a:hover {
  cursor: pointer;

}
.main-button-container-CSS, a:hover {
  cursor: pointer;
}
.main-button-container-JS, a:hover {
  cursor: pointer;
}

.delimiting-info {
  background: url(../img/body-bg.svg);
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-size: 120%;
  background-color: var(--bg-color);
  min-height: 320px;
  flex-grow: 1;
  flex-shrink: 0;
}
.delimiting-wrapper {
  padding: 11rem 9.5rem;
}
.delimiting-info-container {
  margin: 0 84px;
}

.delimiting-text-container {
  text-align: center;
  align-items: center;
  color: var(--white-color);
}

.delimiting-text-container h1 {
  padding-bottom: 20px;
}

.main-input-form {
  padding: 50px;
  background-image: url("../img/hexagon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 187%;
}

.main-input-form-container {
  margin-left: 30%;
  margin-right: 30%;
}

.input-frame-container {
  background-color: var(--white-color);
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  min-height: 200px;
}

.input-frame {
  padding: 3rem 1.5rem;
}

.form-input-frame h2 {
  color: var(--main-color);
  margin-bottom: 25px;
  font-size: 36px;
  transition: color 0.4s ease;
}

.input-field-control {
  padding-right: 1.5rem;
}

.input-field-control input {
  font-size: 20px;
  border: #0000007b solid 1px;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}
.input-field-control input:hover {
  cursor: auto;
}

::-webkit-input-placeholder {
  color: #c3c3c3;
}

.form-input-frame p {
  margin-bottom: 20px;
}

.input-submit {
  background-color: var(--main-color);
  font-size: 20px;
  color: var(--white-color);
  border: none;
  border-radius: 15px;
  padding: 0.8rem 1.6rem;
  transition: background-color 0.3s ease;
}

.input-submit:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.input-button {
  margin-bottom: 10px;
}